<div class="center-align container form-style" style="margin-top: 81px;">
	<h1 class="center" style="color: #747474;">Student Form</h1>
	<%= form_for @student do |f| %>

  
		<div class="input-field col s6 offset-s4">
			<%= f.label :first_name %>
			<%= f.text_field :first_name, :required => true %>
		</div>

	
		<div class="input-field col s6 offset-s4">
			<%= f.label :last_name %>
			<%= f.text_field :last_name, :required => true %>
		</div>

	
		<div class="input-field col s6 offset-s4">
			<%= f.label :email %>
			<%= f.text_field :email, :required => true %>
		</div>

	
		<div class="input-field col s6 offset-s4">
			<%= f.label :phone %>
			<%= f.text_field :phone, :required => true %>
		</div>

	
		<div class="input-field col s6 offset-s4">
			<%= f.label :major %>
			<%= f.text_field :major %>
		</div>
	
	<div class="row">
		<%= f.check_box :contact_me, id:"contact_me"%>
		<%= f.label "I want more information", for: "contact_me", id: 'contact_me'%>
	</div>

	<%= f.submit "Submit", :class => "btn waves-effect waves-light" %>
	<% end %>
</div>