<div class="center-align container">
	<%= form_for @student do |f| %>

  <div class="row">
		<div class="input-field col s5 offset-s1">
			<%= f.text_field :first_name, :placeholder => "First Name" %>
		</div>
	
		<div class="input-field col s5">
			<%= f.text_field :last_name, :placeholder => "Last Name" %>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s5 offset-s1">
			<%= f.text_field :email, :placeholder => "Email" %>
		</div>
	
		<div class="input-field col s5">
			<%= f.text_field :phone, :placeholder => "Phone" %>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s6 offset-s3">
			<%= f.text_field :major, :placeholder => "Major" %>
		</div>
	</div>
	
	<div class="row">
		<%= f.check_box :contact_me, id:"contact_me"%>
		<%= f.label "Want to know more about coding?", for: "contact_me", id: 'contact_me'%>
	</div>

	<%= f.submit "Submit", :class => "btn" %>
	<% end %>
</div>