<div class="center-align container">
	<%= form_for @student do |f| %>

  <div class="row">
		<div class="input-field col s8 offset-s2">
			<%= f.text_field :first_name, :placeholder => "First Name", :required => true %>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s8 offset-s2">
			<%= f.text_field :last_name, :placeholder => "Last Name", :required => true %>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s8 offset-s2">
			<%= f.text_field :email, :placeholder => "Email", :required => true %>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s8 offset-s2">
			<%= f.text_field :phone, :placeholder => "Phone", :required => true %>
		</div>
	</div>

	<div class="row">
		<div class="input-field col s8 offset-s2">
			<%= f.text_field :major, :placeholder => "Major" %>
		</div>
	</div>
	
	<div class="row">
		<%= f.check_box :contact_me, id:"contact_me"%>
		<%= f.label "I want more information", for: "contact_me", id: 'contact_me'%>
	</div>

	<%= f.submit "Submit", :class => "btn waves-effect waves-light" %>
	<% end %>
</div>